# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Django
db.sqlite3
media/
static/

# Logs
logs/
*.log

# Node
node_modules/
dist/
.next/
coverage/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
